<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity details</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/activityDetails.css}" rel="stylesheet">
</head>
<body>
<div id="page-container">
    <div id="header-container">
        <img th:src="@{../img/activities-pictures/gokartActivityDetailsLogo.jpg}" id="header-image">
    </div>
    <div id="content-container">
        <div id="essentials-container">
            <div id="activity-name" th:text="${activity.name}"></div>
            <div id="activity-price" th:text="${activity.price}"></div>
        </div>
        <div id="extra-container">
            <div id="activity-full-description" th:text="${activity.fullDescription}">
            </div>
            <div id="activity-information-container">
                <div id="activity-group-size" th:text="${activity.groupSize}"></div>
                <div id="activity-duration" th:text="${activity.duration}"></div>
                <div id="activity-start-time" th:text="${activity.startTime}"></div>
                <div id="activity-age-restriction" th:text="${activity.ageRestriction}"></div>
                <div id="activity-height-restriction" th:text="${activity.heightRestrictionCm}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>