<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createNewActivity</title>
    <link th:href="@{/styles/createNewActivity.css}" rel="stylesheet">
    <script th:src="@{js/createNewActivity.js}"></script>
</head>
<body id="page-container">
    <div id="logo-container">
        <img th:src="@{../img/activities-pictures/logo.png}" class="title-image"/>
    </div>

    <div th:hidden="${isUpdate}"><h1>Create New Activity</h1></div>
    <div th:hidden="${isUpdate}? false : true"><h1>Update Activity</h1></div>

    <form th:action="${isUpdate} ? @{/updateActivity} : @{/createNewActivity}" method="post" id="form-id" th:object="${activity}" modelAttribute="activity">
        <input type="hidden" name="id" th:value="*{id}">
        <label for="name">Activity Name<sup>*</sup> <br>
            <input type="text" id="name" placeholder="eg: golf.." required name="name" th:value="*{name}">
        </label>

        <label for="short-desc">Short Description<sup>*</sup> <br>
            <input type="text" id="short-desc" required name="description" th:value="*{description}">
        </label>

        <label for="price">Price<sup>*</sup> <br>
            <input type="number" step="0.01" id="price" required name="price" th:value="*{price}">
        </label>

        <label for="group-size">Group Size<sup>*</sup> <br>
            <input type="text" id="group-size" required name="groupSize" th:value="*{groupSize}">
        </label>

        <label for="start-time">Start Time<sup>*</sup> <br>
            <input type="text" id="start-time" required name="startTime" th:value="*{startTime}">
        </label>

        <label for="duration">Duration (minutes)<sup>*</sup> <br>
            <input type="number" id="duration" required name="duration" th:value="*{duration}">
        </label>

        <label for="age-restriction">Age Restriction<sup>*</sup> <br>
            <input type="number" id="age-restriction" required name="ageRestriction" th:value="*{ageRestriction}">
        </label>

        <label for="height-restriction">Height Restriction (centimeters)<sup>*</sup> <br>
            <input type="number" id="height-restriction" required name="heightRestrictionCm" th:value="*{heightRestrictionCm}">
        </label>

        <label for="full-desc">Full Description<sup>*</sup> <br>
            <textarea type="text" id="full-desc" required rows="4" cols="50" name="fullDescription" th:field="*{fullDescription}"></textarea>
        </label>

        <label>URL Main Page Picture
            <input type="text" name="mainPicture">
        </label>

        <label>URL Detail Page Picture
            <input type="text" name="detailPicture">
        </label>

        <a th:href="@{/index}"><button type="button" id="cancel">Cancel</button></a>
        <input type="submit" id="submit" name="save" value="Save">
    </form>
</body>
</html>