<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/activities.css}" rel="stylesheet">
</head>
<body>
<div id="page-container">
    <div id="title-container">
        <img th:src="@{../img/activities-pictures/logo.png}"  class="title-image"/>
    </div>
    <div id="content-container">
        <div id="content" class="content-background">
        <div th:each="activity: ${activities}">
            <a th:href="@{'/activity/'+${activity.id}}">
            <div class="activity">
                <img th:src="${activity.imgLink1}" id="gocart">
                <div class="activity-name" th:text="${activity.name}"></div>
                <div class="activity-field" th:text="${activity.description}"></div>
                <div class="activity-field" th:text="${activity.price}"> <span>DKK</span></div>
            </div>
            </a>
        </div>
            <div class="button-area">
            <a href="/createNewActivity" id="createNewActivity">
                <button class="btn">Create new activity</button>
            </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>