.title-image{
    width: 25%;
    height: auto;
    margin-left: 7vw;
}

#content-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    padding: 5vh 0 5vh 0;
    width: 70vw;
    margin-bottom: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.activity {
    min-height: 20vh;
    height: fit-content;
    min-width: 18vw;
    max-width: 18vw;
    background-color: #50A8D3;
    margin: 5vh;
    opacity: .9;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vh;

    box-shadow: 10px 10px 5px #666;
}

.activity:active, .btn:active {
    background-color: #1d7dcb;
    box-shadow: 6px 6px 5px #424242;
    transform: translate(4px, 4px);
}

.activity:hover, .btn:hover {
    background: #1d7dcb;
    opacity: 1;
}

.activity-field {
    width: 95%;
    display: flex;
    align-content: space-around;
    margin: 1vh;
}

.activity-name {
    font-size: 1.8rem;
    margin: 1vh;
}

#gocart {
    width: 100%;
    height: 200px;
}

.btn {
    text-decoration: none;
    margin: 15px 0px;
    background-color: #50A8D3;
    padding: 10px;
    border: none;
    box-shadow: 10px 10px 5px #666;
    opacity: .9;
    cursor: pointer;
}

.button-area {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    min-height: 20vh;
    min-width: 20vw;
    max-width: 20vw;

}