#page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #30231A;
    width: 100%;
    height: min-content;
}

#title-container {
    height: 20vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5vh 0 0 7vw;
}

.title-image{
    width: 30%;
    height: auto;
}

#content-container {
    width: 80vw;
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    margin-top: 10vh;
    padding: 5vh 0 5vh 0;
    width: 80vw;
    margin-bottom: 5vh;

    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    background: #E7BD73;
    box-shadow: 1px 1px 13px 17px rgba(231,189,115,1);
}

.activity {
    min-height: 20vh;
    height: fit-content;
    min-width: 20vw;
    max-width: 20vw;
    margin: 1vh 2.5vw;
    background-color: #50A8D3;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vh;

    box-shadow: 10px 10px 5px #30231A;
}

.activity-hover {
    background: #50A8D3;
}

.activity-hover:hover {
    background: #50A8D3;
    opacity: 0.8;
}

.activity-field {
    width: 95%;
    display: flex;
    align-content: space-around;
}

.activity-name {
    font-size: 1.8rem;
}

#gocart {
    width: 100%;
    height: auto;
}