#essentials-container {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: xx-large;
    align-self: flex-start;
    text-transform: uppercase;
}

#extra-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#activity-information-container {
    margin-top: 100px;
}

#activity-full-description {
    width: 100%;
}

.header-image{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

.content-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}