#page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url('../img/activities-pictures/background.png');
}

#title-container {
    height: 20vh;
    width: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    width: 80vw;
    margin: 5vh 0;

    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    background: aquamarine;
}

.activity {
    height: 20vh;
    min-width: 20vw;
    max-width: 20vw;
    margin: 1vh 2.5vw;
    background: bisque;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.activity-field {
    background: brown;
    width: 95%;
    display: flex;
    align-content: space-around;
}

#gocart {
    width: 100%;
    height: auto;

}